* {
    margin: 0;
    border: 0;
  }
  
  #game-canvas {
    width: 200;
    height: 100;
  }
  
  #game-table {
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
  }
  
  #left-column {
    width: 25%;
    border: 1px;
    border-style: solid;
    border-color: black;
  }
  
  #center-column {
    width: 1280px;
    border: 1px;
    border-style: solid;
    border-color: black;
    align-items: center;
    background-color: blue;
  }
  
  #right-column {
    width: 25%;
    border: 1px;
    border-style: solid;
    border-color: black;
  }

  table {
    table-layout: fixed;
  }

  td {
    word-wrap: break-word;
  }
